{% extends 'theme.html' %}

{% block content %}

<div>
    <marquee behavior="scroll" direction="left">
        <H1 style="color:red ;">EMERGENCY CARE UNIT</H1>
      </marquee>
</div>

<div>
    <img src="./istockphoto-538726573-612x612.jpg" alt="">
</div>
<div class="container-fluid"  >
<p style="text-align:justify ;">

    Our mission is to secure the human life without any delay of treatement.An emergency department (ED), also known as an accident and emergency department (A&E), emergency room (ER), emergency ward (EW) or casualty department, is a medical treatment facility specializing in emergency medicine, the acute care of patients who present without prior appointment; either by their own means or by that of an ambulance. The emergency department is usually found in a hospital or other primary care center.

    Due to the unplanned nature of patient attendance, the department must provide initial treatment for a broad spectrum of illnesses and injuries, some of which may be life-threatening and require immediate attention. In some countries, emergency departments have become important entry points for those without other means of access to medical care.Today, a typical hospital has its emergency department in its own section of the ground floor of the grounds, with its own dedicated entrance. As patients can arrive at any time and with any complaint, a key part of the operation of an emergency department is the prioritization of cases based on clinical need. This process is called triage.
</p>

</div>
<DIV class="container-fluid">
<a href="{% url 'emergency' %}" button type="submit" class="btn btn-danger">EMERGENCY</button></a>
</DIV>    
{% endblock %}